body {
  padding: 0;
  margin: 0;
}

nav {
  height: 5rem;
  background-color:white;
  display: flex;
}

.icons-container {
  padding: 20px;
}

nav img {
width: 170px;
}

main {
  height: 110vh;
  background-color: green;
}

.main-content {
  height: 200vh;
  background-color: aliceblue;
}

.main-content section {
  height: 100%;
  width: 80%;
  display: inline-block;
}

.main-content .text-content {
  width: 80%;
  height: 100%;
  float: right;
  background-color: blueviolet;
}

.side-content {
  height: 100%;
  width: 20%;
  float: right;
  background-color: aqua;
}

.artwork {
  width: 100%;
  height: 100vh;
  background-color: brown;
}