body {
  padding: 0;
  margin: 0;
  font-family: georgia,'times new roman',times,serif;
}

p {
  padding: 0;
  margin: 0;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
}

.btn-blue {
  background-color: #6288a5;
  color: white;
}

/* navbar */
nav {
  padding: 0 25px;
  height: 3rem;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  
  background-color:white;
  border-bottom: solid thin gray;
}

.nav-icons-container a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav-icons-container i {
  margin-right: 1rem;
}

nav img {
  width: auto;
  height: 20px;
}

.button-container button {
  margin: 0 5px;
}

/* main */
main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  width: 39rem;
  font-size: 3rem;
  font-style: italic;
}

main img {
  width: 80%;
  height: auto;
}

.hero-description-container {
  margin-top: 0.5rem;
  width: 80%;
}

main p {
  margin-top: 0.5rem;
  width: 70%;
  text-align: left;
  float: left;
}

.picture-credits {
  color: gray;
}

/* main content layout*/
.main-content section {
  height: 100%;
  width: 80%;
  display: inline-block;
}

.main-content .text-content {
  padding: 0 1rem;
  width: 60%;
  height: 100%;
  float: right;
}

.side-content {
  padding: 0 2rem;
  height: 100%;
  width: 20%;
  float: right;
  box-sizing: border-box;
}

.text-content .article-author {
  font-weight: bold;
}

.text-content .article-author a {
  color: black;
}

.social-media-container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.social-media-container .icons-container {
  display: flex;
  align-items: center;
}

.social-media-container .icon-circle {
  margin: 0 0.25rem;    
  width: 2rem;
  height: 2rem;  

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d4cfcf;
  border-radius: 50%;
}

.social-media-container i {
  margin: 0 0.5rem;    
}

/* main content text-container*/
.text-content p {
  margin: 1rem 0;
}

.text-content .text-highlight {
  color: #326891;
}

/* side-content -- sign up */
.sign-up {
  margin-top: 10rem;
}

.sign-up p {
  padding: 0.5rem 0;
}

.sign-up p:first-child {
  font-weight: bold;
  font-size: 18px;
}

.sign-up button {
  width: 100%;
}

/* main content -- editor's pics */
.editor-picks {
  margin-top: 10rem;
}

.editor-picks p {
  padding-bottom: 1rem;
  border-bottom: solid thin black;
}

/* side content -- more articles */
.more-articles {
  margin-top: 1rem;
}

.more-articles-img {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position-x: center;
  float: left;

}

.more-articles a {
  text-decoration: none;
  font-size: 12px

}



/* artwork */
.artwork {
  width: 100%;
  height: 100vh;
  background-color: brown;
}