body {
  padding: 0;
  margin: 0;
  font-family: georgia,'times new roman',times,serif;
}

p {
  padding: 0;
  margin: 0;
}

/* navbar */
nav {
  height: 2rem;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding:;

}

.nav-icons-container {
  padding: 10px;
  height: 10px;
}

.nav-icons-container i {
  padding: 0px 1px ;
}

nav img {
  width: auto;
  height: 50px;
 
}

/* main */
main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  width: 39rem;
  font-size: 3rem;
  font-style: italic;
}

main img {
  width: 80%;
  height: auto;
}

.hero-description-container {
  margin-top: 0.5rem;
  width: 80%;
}

main p {
  margin-top: 0.5rem;
  width: 70%;
  text-align: left;
  float: left;
}

.picture-credits {
  color: gray;
}

/* main content */
.main-content {
  height: 200vh;
  background-color: aliceblue;
}

.main-content section {
  height: 100%;
  width: 80%;
  display: inline-block;
}

.main-content .text-content {
  padding: 0 1rem;
  width: 60%;
  height: 100%;
  float: right;
}

.text-content .article-author {
  padding: 1rem 0;
  font-weight: bold;
}

.text-content .article-author a {
  color: black;
}

.social-media-container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.social-media-container i {
  margin: 0 1rem;
}

.icons-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-container .icon-circle {
  background-color: gray;
}

.side-content {
  height: 100%;
  width: 20%;
  float: right;
  background-color: aqua;
}

/* artwork */
.artwork {
  width: 100%;
  height: 100vh;
  background-color: brown;
}